.forgotpassword-main-container{
    width: 100%;
    height: 100vh;
    background-image: url('project-1.png');
    background-position: center;
    background-size: cover;
    padding: 110px 500px;
    
  }


  .forgotpassword-blur-container{
    width: auto;
    height: auto;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }

  .main-title{
    color: green;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
  }

  .forgotpassword-subheading{
    color: green;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;

  }
  
  
  input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    
  }

  .submit-btn{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
  }
